{% extends "base.html" %}
{% load socialaccount %}
{% block body %}
<div class="container text-dark mt-5">
     <div class="row justify-content-md-center">
       <div class="col-md-5 bg-grey p-3">
<form method="post" action="/accounts/logout/">
  {%csrf_token%}
<div class="jumbotron">
    <center>
    <p>Are you sure you want to sign out?</p>
  </center>
    <button type="submit" class="btn btn-primary  btn-lg btn-block">Sign Out</button>
</div>
</form>
    </div>
  </div>
</div>
{% endblock %}
